/* Texts */
	body {
		font-family: 'Roboto', sans-serif;
	}

/* Color Text */

	header h1,
	.main-bg h2,
	.columns h3 {
		color: var(--white-color);
	}
	
	.light-bg h2 {
		color: var(--main-color);
	}
	
	.main-bg p,
	a:not(.btn),
	.light-bg label {
		color: var(--black-color);
	}

	a:not(.btn):focus,
	a:not(.btn):hover, {
		color: var(--main-color);
	}

/* Size Text */

	h1, h2, h3 {
		font-size: var(--font-xl) ;
		font-weight: 900;
		margin: 2rem 0;
	}

	p,
	a:not(.btn), 
	form button {
		font-size: var(--font-normal);
	}

	p, 
	a:not(.btn) {
		font-weight: 500;
	}

/* Buttons */

	a.btn, 
	form button {
		color: var(--white-color);
		background-color: var(--black-color);
		display: inline-block;
		padding: .5rem 2rem;
		border: 0;
		font-weight: 700;
		text-align: center;
	}

	a.btn:hover,
	form button:hover {
		background-color: var(--light-color);
		color: var(--black-color);
		transition: .1s;
	}

/* Form */

	

/* Responsive */

	@media(min-width: 992px){
		html {
			font-size: 24px;
		}
	}